$primary-color: rgb(67, 160, 255);
$success-color: rgba(110, 207, 151, 1);
$danger-color: rgb(247, 114, 73);
$warning-color: rgb(254, 222, 107);

$dark-title-color: #0a0a0a;
$main-title-color: rgb(19, 23, 52);
$light-title-color: rgb(124, 140, 166);

$second-border-radius: 10px;
$input-background-color: rgba(0,0,0, 0.05);